/* kids-article.css */
.article-h1 {
    font-size: 3rem;
    color: #4a9eff;
    margin-bottom: 1rem;
  }
  
  .article-h2 {
    font-size: 2.5rem;
    color: #4a9eff;
    margin-bottom: 1rem;
  }
  
  .article-h3 {
    font-size: 2rem;
    color: #4a9eff;
    margin-bottom: 1rem;
  }
  
  .article-h4 {
    font-size: 1.5rem;
    color: #4a9eff;
    margin-bottom: 1rem;
  }
  
  .article-h5 {
    font-size: 1.25rem;
    color: #4a9eff;
    margin-bottom: 1rem;
  }
  
  .article-description {
    font-size: 1.25rem;
    color: #4A4A4A;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .article-body {
    font-family: 'Farro', serif;
    font-size: 1.2rem;
    color: #4A4A4A;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .article-quote {
    font-family: 'Comic Sans MS', cursive;
    font-size: 1.4rem;
    color: #4a9eff;
    background-color: #cceeff;
    border-left: 4px solid #4a9eff;
    padding: 1rem;
    margin: 1.5rem 0;
  }
  
  
  /* Stiluri noi pentru sidebar */
.sidebar-section {
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .sidebar-book {
    background-color: #dee5e7;
  }
  
  .sidebar-categories {
    background-color: #dee5e7;
  }
  
  .sidebar-ads {
    background-color: #dee5e7;
  }
  
  .sidebar-useful {
    background-color: #dee5e7;
  }
  
  .sidebar-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #8B0000;
  }
  
  .sidebar-link {
    color: #8B0000;
    text-decoration: none;
  }
  
  .sidebar-link:hover {
    text-decoration: underline;
  }
  
  .buy-button {
    display: block;
    text-align: center;
    background-color: #8B0000;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .buy-button:hover {
    background-color: #6D071A;
  }
  
  /* Reducerea spațiului dintre header și conținut */
  .content-wrapper {
    margin-top: -1rem; /* Ajustați această valoare pentru a reduce spațiul */
  }
  
  /* Adăugați aici stilurile pentru elementele rotative din fundal */